<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.sst.material">

    <application>
        <activity android:name=".BottomNavigationActivity"></activity>
        <activity android:name=".ShapeActivity" />
    </application>

</manifest>